<div class="input-group">

    {% if include.isList %}
    <div class="input-group-prepend">
      <span class="input-group-text" data-bind="text: '#W' + ({{ include.index }} + 1)"></span>
    </div>
    {% endif %}

    <div
    {% if include.isList %}
    class="input-group-prepend input-group-append"
    {% else %}
    class="input-group-prepend"
    {% endif %}
    >
      <select class="custom-select" data-bind="value: rarity, visible: selected() == undefined">
        <option selected value="ALL">星</option>
        <option value="5">星5</option>
        <option value="4">星4</option>
        <option value="3">星3</option>
      </select>
    </div>
    <select data-bind="options: options,
                      optionsText: function(o) { return '★' + o.rarity + ' ' + o.name },
                      value: selected,
                      optionsCaption: '-武器選択-',
                      css: {'border-danger': selected() == undefined}"
                      class="custom-select" aria-label="武器選択">
    </select>

    <div 
    {% if include.isList %}
    class="input-group-prepend input-group-append"
    {% else %}
    class="input-group-append"
    {% endif %}
    >
      
      <select class="custom-select" data-bind="value: viewModel().rank">
        <option selected value="0">無凸</option>
        <option value="1">1凸</option>
        <option value="2">2凸</option>
        <option value="3">3凸</option>
        <option value="4">4凸</option>
      
      </select>
    </div>
    {% if include.isList %}
    <div class="input-group-append">
      <button type="button" class="btn btn-outline-danger" data-bind="click: {{ include.remove }}">-削除</button>
    </div>
    {% endif %}
</div>
<div class="row" data-bind="foreach: viewModel().viewHTMLList(`{{ include.target_from_root }}.viewModel`)">
  <div class="col-lg-6">
    <div data-bind="htmlWithBinding: $data"></div>
  </div>
</div>
