<!-- ko let: {cards: viewModel().viewHTMLList(`{{ include.target_from_root }}.viewModel`) } -->
<div class="input-group">

    {% if include.isList %}
    <div class="input-group-prepend">
      <span class="input-group-text" data-bind="text: '#W' + ({{ include.index }} + 1)"></span>
    </div>
    {% endif %}

    <div
    {% if include.isList %}
    class="input-group-prepend input-group-append"
    {% else %}
    class="input-group-prepend"
    {% endif %}
    >
      <select class="custom-select" data-bind="value: rarity">
        <option selected value="ALL">星</option>
        <option value="5">星5</option>
        <option value="4">星4</option>
        <option value="3">星3</option>
      </select>
    </div>
    <select data-bind="options: options,
                      optionsText: function(o) { return '★' + o.rarity + ' ' + o.name },
                      value: selected,
                      optionsCaption: '-武器選択-',
                      css: {'border-danger': selected() == undefined}"
                      class="custom-select" aria-label="武器選択">
    </select>

    <div class="input-group-prepend input-group-append d-none d-md-block">
      <select class="custom-select" data-bind="value: viewModel().level">
        {% include ui/level_options.html %}
      </select>
    </div>

    <div 
    {% if include.isList %}
    class="input-group-prepend input-group-append d-none d-md-block"
    {% else %}
    class="input-group-append d-none d-md-block"
    {% endif %}
    >
      
      <select class="custom-select" data-bind="value: viewModel().rank">
        <option selected value="0">無凸</option>
        <option value="1">1凸</option>
        <option value="2">2凸</option>
        <option value="3">3凸</option>
        <option value="4">4凸</option>
      
      </select>
    </div>
    {% if include.isList %}
    <div class="input-group-append">
      <button type="button" class="btn btn-outline-danger" data-bind="click: {{ include.remove }}">-削除</button>
    </div>
    {% endif %}
</div>
<div class="card" data-bind="css: { 'd-md-none': cards.length == 0 }">
  <div class="card-body p-2">
    <!-- 小さい画面用 -->
    <div class="row no-gutters d-md-none">
      <div class="col">
        <label>レベル</label>
        <select class="custom-select rounded-left-only border-right-0" aria-label="レベル" data-bind="value: viewModel().level">
          {% include ui/level_options.html %}
        </select>
      </div>
      <div class="col">
        <label>凸数</label>
        <select class="custom-select rounded-right-only" aria-label="凸数" data-bind="value: viewModel().rank">
          <option value="0">無凸</option>
          <option value="1">1凸</option>
          <option value="2">2凸</option>
          <option value="3">3凸</option>
          <option value="4">4凸</option>
          <option value="5">5凸</option>
          <option value="6">6凸</option>
        </select>
      </div>
    </div>
    <hr class="d-md-none" data-bind="visible: cards.length != 0">
    <div class="row">
      <!-- ko foreach: cards -->
      <div class="col-lg-6">
        <div data-bind="htmlWithBinding: $data"></div>
      </div>
      <!-- /ko -->
    </div>
  </div>
</div>
<!-- /ko -->