---
layout: page
modules_js: ['/js/page/calc.js']
title: ダメージ計算（作成中）
---

<div class="mb-4" data-bind="with: bundleSetting">
  {% include ui/bundle_setting.html id="bundleSetting" target_from_root="$root.bundleSetting" %}
</div>


<h5>敵の耐性/レベル</h5>

<div class="form-row" data-bind="with: enemySetting">
  <div class="col-sm-3 col-6">
    <label>レベル</label>
    <select class="custom-select" aria-label="レベル" data-bind="value: level">
      {% include ui/level_options.html isEnemy=true %}
    </select>
  </div>
  <div class="col-sm-3 col-6">
    <label>炎元素耐性(%)</label>
    <input type="number" class="form-control" data-bind="value: pyroResis" placeholder="例：20">
  </div>
  <div class="col-sm-3 col-6">
    <label>水元素耐性(%)</label>
    <input type="number" class="form-control" data-bind="value: hydroResis" placeholder="例：20">
  </div>
  <div class="col-sm-3 col-6">
    <label>草元素耐性(%)</label>
    <input type="number" class="form-control" data-bind="value: dendroResis" placeholder="例：20">
  </div>
  <div class="col-sm-3 col-6">
    <label>雷元素耐性(%)</label>
    <input type="number" class="form-control" data-bind="value: electroResis" placeholder="例：20">
  </div>
  <div class="col-sm-3 col-6">
    <label>風元素耐性(%)</label>
    <input type="number" class="form-control" data-bind="value: anemoResis" placeholder="例：20">
  </div>
  <div class="col-sm-3 col-6">
    <label>氷元素耐性(%)</label>
    <input type="number" class="form-control" data-bind="value: cryoResis" placeholder="例：20">
  </div>
  <div class="col-sm-3 col-6">
    <label>岩元素耐性(%)</label>
    <input type="number" class="form-control" data-bind="value: geoResis" placeholder="例：20">
  </div>
  <div class="col-sm-3 col-6">
    <label>物理元素耐性(%)</label>
    <input type="number" class="form-control" data-bind="value: physicalResis" placeholder="例：20">
  </div>
</div>


<h4 class="h4">詳細</h4>

<!-- ko if: calculateResult() !== undefined -->
<div data-bind="with: calculateResult()">
<h5 class="h5">通常/重撃/落下攻撃</h6>
<div class="mb-3" data-bind="foreach: normalAttacks">
  <div>
    <h6 class="h6" data-bind="text: label"></h6>
    <p>
      ダメージ：<span data-bind="text: textInteger(dmg.value)"></span>
      <br>
      計算式：<span data-bind="text: dmg.toASTNode().toSimplify().toExprText()"></span>
    </p>
  </div>
</div>

<h5>元素スキル攻撃</h5>
<div class="mb-3" data-bind="foreach: skillAttacks">
  <div>
    <h6 class="h6" data-bind="text: label"></h6>
    <p>
      ダメージ：<span data-bind="text: textInteger(dmg.value)"></span>
      <br>
      計算式：<span data-bind="text: dmg.toASTNode().toSimplify().toExprText()"></span>
    </p>
  </div>
</div>

<h5>元素爆発攻撃</h5>
<div class="mb-3" data-bind="foreach: burstAttacks">
  <div>
    <h6 class="h6" data-bind="text: label"></h6>
    <p>
      ダメージ：<span data-bind="text: textInteger(dmg.value)"></span>
      <br>
      計算式：<span data-bind="text: dmg.toASTNode().toSimplify().toExprText()"></span>
    </p>
  </div>
</div>

<h5>その他の攻撃</h5>
<div class="mb-3" data-bind="foreach: otherAttacks">
  <div>
    <h6 class="h6" data-bind="text: label"></h6>
    <p>
      ダメージ：<span data-bind="text: textInteger(dmg.value)"></span>
      <br>
      計算式：<span data-bind="text: dmg.toASTNode().toSimplify().toExprText()"></span>
    </p>
  </div>
</div>

</div>
<!-- /ko -->