<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/bootstrap-multiselect.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
<script src="/js/knockout-3.5.1.js"></script>
<script src="/js/requestIdleCallback_polyfill.js"></script>
<script src="/js/msgpack.min.js"></script>
<script src="/js/lzma_worker-min.js"></script>
<script src="/js/main.js"></script>
<!-- <script src="/js/nlopt-js.js"></script> -->
