<div class="sidebar-sticky pt-3">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" href="{{ site.baseurl }}/">
                <span data-feather="home"></span> トップページ
            </a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link" href="#">
                <span data-feather="star"></span> お気に入り
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <span data-feather="clock"></span> 履歴
            </a>
        </li> -->
        <li class="nav-item">
            <a class="nav-link" href="#">
                <span data-feather="settings"></span> 設定
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://github.com/k3kaimu/genshinopt/issues">
                <span data-feather="flag"></span> 要望・不具合投稿
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ site.baseurl }}/docs/documents/">
                <span data-feather="file-text"></span> 計算式などの詳細
            </a>
        </li>
    </ul>

    <!-- <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
        <span>自作ツール</span>
    </h6>
    <ul class="nav flex-column mb-2">
        <li class="nav-item">
            <a class="nav-link" href="#">
                キャラ自作
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
               武器自作
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                聖遺物自作
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                 魔物自作
            </a>
        </li>
    </ul> -->

    <!-- <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
        <span>データ保存・読込</span>
    </h6>
    <ul class="nav flex-column mb-2">
        <li class="nav-item">
            <a class="nav-link" href="#">
                <span data-feather="download"></span> ファイル保存
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <span data-feather="upload"></span> ファイル読込
            </a>
        </li>
    </ul> -->

    <footer class="footer py-3">
        <div class="container">
            <div class="text-muted">ビルド日時<br/>{{ site.time }}</div>
        </div>
    </footer>
</div>